@import "~react-image-gallery/styles/css/image-gallery.css";

html {
    font-size: 15px;

}

body {
    zoom: 1.3;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.scroll-to-top:hover {
    background-color: rgba(0, 0, 0, 0.049);
}

.scroll-to-top:active {
    background-color: rgba(0, 0, 0, 0.049);
    /* Màu nền đậm khi được nhấn */
}

.scroll-to-top:focus {
    outline: none;
    /* Loại bỏ đường viền khi được focus */
}
a{
    text-decoration:none;
}
.image-gallery-slides {
    width: 100%;
    height: 300px;
    /* Đặt chiều cao cố định */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* Cắt bỏ phần không vừa vặn */
}

.image-gallery-slides img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    /* Chắc chắn hình ảnh không bị cắt và nằm vừa vặn bên trong khu vực */
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
    width: auto;
    /* Cho phép chiều rộng thay đổi để phù hợp với chiều cao */
    height: 50px;
    /* Đặt chiều cao cố định */
    object-fit: contain;
    /* Chắc chắn hình ảnh không bị cắt và nằm vừa vặn bên trong khu vực */
}
