.container {
    max-width: 1170px;
    margin: 2em auto;
    padding: 1em;
    max-width: 1170px;
    border-radius: 10px;
    padding: 1em;
    background: linear-gradient(135deg, #ff6e7f 0%, #bfe9ff 100%);
    color: #fff; /* Adjusted for better readability on gradient */
}

.row {
    margin: 2em;
}

.row .col {
    background-color: rgba(255, 255, 255, 0.9);
    /* Slightly transparent background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.row .col:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

h1,
h2 {
    color: #007bff;
    /* Using the theme color for headers */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

}
.row{
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: space-between;
}
.col-md-6 {
    background-color: rgba(255, 255, 255, 0.9);
    /* Slightly transparent background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.col-md-6:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);

}

p {
    color: #495057;
    /* Improved readability */
    line-height: 1.6;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .row {
        margin-bottom: 1em;
    }
}