.hero-container {
    position: relative;
    text-align: center;
    color: black;
    background: linear-gradient(rgba(0, 0, 0, 0.501), rgba(0, 0, 0, 0.507)), url('https://wallpapercave.com/wp/wp4110653.jpg');
    background-size: cover;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-container h1 {
    font-weight: bold;
    margin-bottom: 20px;
    animation: fadeInUp 1s ease;
    color: rgb(255, 255, 255);
}

.hero-container p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    animation: fadeInUp 1s ease;
    color: rgb(255, 255, 255);
}

.hero-btn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    margin: 20px;
    font-size: 16px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(128, 139, 171);
    cursor: pointer;
    position: relative;
    background-color: rgba(255, 255, 255, 0.607);
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.hero-btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(128, 139, 171);
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all .3s;
    transition: all .3s;
    z-index: -1;
}

.hero-btn:hover::before {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}