.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 0 20px;
    color: #fff;

}

.navbar-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-link {
    margin: 3px 0;
    /* Adjust spacing for vertical layout */
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    position: relative;
    padding: 10px 0;
}

.navbar-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2.5px;
    background-color: #ffffff;
    transition: width 0.5s;
}

.navbar-link:hover::after {
    width: 100%;
}

.avatar-link {
    display: inline-block;
    margin-left: 20px;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
    }

    .navbar-links {
        margin-top: 10px;
    }
}