/* Navbar.css */
.navbar-container {
    padding: 15px 20px;
    background-color: #343a40; /* Dark background color */
}

.navbar-logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #d13a3a; /* Red text color */
    text-decoration: none;
}

.navbar-link {
    font-size: 1.1rem;
    color: #050303; /* Dark text color */
    text-decoration: none;
    margin-right: 15px;
    transition: color 0.3s ease;
}

.navbar-link:hover {
    color: #0375f0; /* Highlight color on hover */
}

.navbar-user-icon {
    font-size: 1.8rem;
    color: #ffffff; /* White text color */
    cursor: pointer;
}

.navbar-user-dropdown {
    margin-top: 5px;
}

.dropdown-item {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1.5rem;
    clear: both;
    font-weight: normal;
    line-height: 1.5;
    color: #333;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #f8f9fa; /* Background color on hover */
    color: #007bff; /* Highlight color on hover */
}

/* Set color to white for the user icon */
.navbar-user-dropdown .user.icon {
    color: #ffffff;
}

/* Style the Navbar Toggle button */
.navbar-toggler {
    border: none;
    background: transparent;
    color: #ffffff; /* White text color */
}

.navbar-toggler-icon {
    background-color: #ffffff; /* White background color */
}
