.non-authorize {
    text-align: center;
    margin-top: 50px;
}

.non-authorize p {
    font-size: 18px;
    margin-bottom: 20px;
}

.non-authorize button {
    padding: 10px 20px;
    background-color: #625f5f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.non-authorize button:hover {
    background-color: #000000;
}