.payment-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.booking-details,
.post-details {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.booking-details h2,
.post-details h2 {
    color: #333;
}

.booking-details p,
.post-details p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}

.booking-details p strong,
.post-details p strong {
    color: #000;
}