.payment-container {
    background: linear-gradient(135deg, #ff6e7f 0%, #bfe9ff 100%);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 2em auto;
    max-width: 1170px;
}

.form-group,
.start-date,
.guests-number,
.cancellation-policy-card,
.guest-requirements-list,
.booking-confirmation,
.payment-method,
.price-details-card {
    background: #fff;
    padding: 10px;
    width: 50%;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 10px 0%;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.form-group:hover,
.start-date:hover,
.guests-number:hover,
.cancellation-policy-card:hover,
.guest-requirements-list:hover,
.booking-confirmation:hover,
.payment-method:hover,
.price-details-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
    border-radius: 10px;
}

.booking-button {
    background-color: #ff6e7f;
    border-color: #ff6e7f;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    flex: 1;
    margin: 15px 0%;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.booking-button:hover {
    background-color: #e06676;
    border-color: #e06676;
    transform: scale(1.05);
}

.form-group label {
    font-weight: bold;
    color: #495057;
    margin-bottom: 0.5em;

}

.date-input,
.guests-input,
.payment-method-select,
.card-input {
    width: 100%;
    padding: 0.75em;
    border-radius: 5px;
    border: 1px solid #ced4da;
    font-size: 1em;
    transition: border-color 0.2s ease-in-out;
}

.date-input:focus,
.guests-input:focus,
.payment-method-select:focus,
.card-input:focus {
    border-color: #ff6e7f;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 0 0.2rem rgba(255, 110, 127, 0.25);
}

.qr-code-container {
    margin-top: 1em;
    text-align: center;
}

.qr-code-image {
    max-width: 100%;
    height: auto;
}

.card-info-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 0.15em;
    grid-column-gap: 0.75em;
}

.card-input {
    margin-top: 15px;
    padding: 0.75em;
    border-radius: 10px;
    border: 1px solid #ced4da;
    font-size: 1em;
}

.card-input::placeholder {
    color: #6c757d;
}

@media (max-width: 768px) {

    .payment-container,
    .form-group,
    .start-date,
    .guests-number,
    .cancellation-policy-card,
    .guest-requirements-list,
    .booking-confirmation,
    .payment-method,
    .price-details-card,
    .booking-button {
        margin: 10px;
        width: auto;
    }

    .card-info-form {
        grid-template-columns: 1fr;
    }

    .booking-button {
        margin: 20px 10%;
        width: 80%;
    }
}