.search-container {
    max-width: 1000px;
    margin: auto;
    padding: 30px;
}

.search-form .ant-select,
.search-form .ant-picker,
.search-form .ant-btn {
    font-size: 16px;
    height: 45px;
}

.search-form .ant-select-selector,
.search-form .ant-picker-input input {
    height: 45px !important;
}

.search-form .ant-btn {
    padding: 6px 30px;
}

.search-form>*:not(:last-child) {
    margin-right: 10px;
}